# Postgres database local connection
POSTGRES_USER=user
POSTGRES_HOST=localhost 
POSTGRES_PASSWORD=databasepassword
POSTGRES_DB=database
POSTGRES_DB_TEST=testdatabase
POSTGRES_PORT=5432

# Application Port - express server listens on this port (default 9000).
PORT=9000

# JWT access secret
SECRET=secret

# JWT refresh secret
REFRESH_SECRET=refreshsecret

# mail server settings
SMTP_FROM=youremail
SMTP_USER=youremail
